---
- name: Update Constellation Overwatch Application
  hosts: constellation_servers
  become: yes
  gather_facts: no
  
  vars:
    
  tasks:
    - name: Login to GitHub Container Registry
      docker_login:
        registry_url: ghcr.io
        username: "{{ github_username }}"
        password: "{{ github_token }}"
        
    - name: Pull latest constellation-overwatch image
      docker_image:
        name: ghcr.io/constellation-overwatch/constellation-overwatch
        tag: latest
        source: pull
        force_source: yes
        
    - name: Restart constellation-overwatch service
      systemd:
        name: constellation-overwatch
        state: restarted
        
    - name: Wait for service to be ready
      uri:
        url: "http://localhost:8080/health"
        method: GET
        status_code: 200
      register: result
      until: result.status == 200
      retries: 30
      delay: 2